#cloud-config
package_update: true
package_upgrade: true
packages:
  - awscli
  - tmux
  - ansible
  - git
  - python3
  - python3-pip
runcmd:
  - aws --version
  - echo "cathead-biscuit"
  - yum update -y
  - amazon-linux-extras install ansible2
  - ansible --version
  - git clone https://github.com/edhilgendorf/ansible-cloud.git
  - pip3 install boto3
  - sudo mkdir -p /opt/ansible/inventory
