#cloud-config
package_update: true
package_upgrade: true
packages:
  - awscli
  - tmux
  - ansible
runcmd:
  - aws --version
  - echo "cathead-biscuit"
  - yum update -y
  - amazon-linux-extras install ansible2
  - ansible --version
